﻿<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Blogdan</h4>
            <h1 class="display-4 mb-4">Haberler ve Güncellemeler</h1>
            <p class="mb-0">
                Sigorta dünyasındaki en son gelişmelerden haberdar olun. Finansal güvenlik, poliçe rehberleri ve ipuçları için blog yazılarımızı takip edin.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/LifeSure-1.0.0/img/blog-1.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Sigorta</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Martin.C</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 30 Ara 2025</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 6 Yorum</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">Sigorta Ödemelerinizi Kolaylaştırmanın Yolları</a>
                        <p class="mb-3">Poliçe ödemelerinizi zamanında ve düzenli yapmak için ipuçları ve teknolojik çözümler.</p>
                        <a href="#" class="btn p-0">Devamını Oku  <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/LifeSure-1.0.0/img/blog-2.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Sigorta</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Martin.C</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 30 Ara 2025</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 6 Yorum</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">Dijital Sigortacılıkta Yeni Dönem</a>
                        <p class="mb-3">Agile sistemlerle müşteri memnuniyetini artırmaya yönelik modern çözümler.</p>
                        <a href="#" class="btn p-0">Devamını Oku  <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/LifeSure-1.0.0/img/blog-3.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Sigorta</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Martin.C</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 30 Ara 2025</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 6 Yorum</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">Poliçe Seçiminde Dikkat Edilmesi Gerekenler</a>
                        <p class="mb-3">İhtiyaçlarınıza uygun sigorta poliçesini seçerken göz önünde bulundurmanız gereken önemli noktalar.</p>
                        <a href="#" class="btn p-0">Devamını Oku  <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>